.item {
  list-style: none;
  color: rgb(9, 117, 90);
  font-weight: bold;
}

.item:not(:last-child) {
  padding-bottom: 10px;
}

.number {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(7, 136, 29);
}

.button {
  background-color: #e05252;
  border-radius: 100px;
  box-shadow: rgba(180, 37, 2, 0.2) 0 -25px 18px -14px inset,
    rgba(161, 40, 3, 0.15) 0 1px 2px, rgba(168, 41, 2, 0.15) 0 2px 4px,
    rgba(182, 14, 3, 0.15) 0 4px 8px, rgba(240, 22, 6, 0.15) 0 8px 16px,
    rgba(248, 54, 6, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(180, 37, 2, 0.2) 0 -25px 18px -14px inset,
    rgba(161, 40, 3, 0.15) 0 1px 2px, rgba(168, 41, 2, 0.15) 0 2px 4px,
    rgba(182, 14, 3, 0.15) 0 4px 8px, rgba(240, 22, 6, 0.15) 0 8px 16px,
    rgba(248, 54, 6, 0.15) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
